@mixin gridrules {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  grid-auto-rows: 40px;
}

@mixin divRules {
  height: 100%;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  border-top-width: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

body {
  width: 95%;
  margin: auto;
}

#header {
  // width: 100%;
  border-style: solid;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

#userClub {
  margin: 10px 10px 10px 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.form-group {
  margin: 10px 10px 10px 10px;
}

#content {
  margin: 10px 10px 10px 10px;

  #GoalkeepersInner {
    @include gridrules();
    div {
      @include divRules();
      p {
        margin: 0px;
      }
    }
  }
  #DefendersInner {
    @include gridrules();
    div {
      @include divRules();
      p {
        margin: 0px;
      }
    }
  }
  #MidfieldersInner {
    @include gridrules();
    div {
      @include divRules();
      p {
        margin: 0px;
      }
    }
  }
  #ForwardsInner {
    @include gridrules();
    div {
      @include divRules();
      p {
        margin: 0px;
      }
    }
  }
}
